<hr class="featurette-divider">
<% articles.each_with_index do |article,index| %>
  <div class="row featurette">
    <div class="<%= index%2==0 ? 'col-md-7' : 'col-md-7 order-md-2' %>">
      <h2 class="featurette-heading"><%= article.title %></h2>
      <p class="lead"><%= article.summary %></p>
    </div>
    <div class="<%= index%2==0 ? 'col-md-5' : 'col-md-5 order-md-1' %>" style="overflow:hidden">
      <%= image_tag(article_cover_url(article), class: 'featurette-image img-fluid mx-auto hover-effect') %>
    </div>
  </div>
  <hr class="featurette-divider">
<% end %>
