<%= stylesheet_link_tag 'bootstrap/pluggins/_carousel.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= render 'layouts/top_ribbon' %>
<main role="main">
  <%= render  "main/carousel", articles: @articles %>
  <div class="container marketing">
    <%= render  "main/articles_list" , articles: @articles %>
    <%= render  "main/pinned_pages", articles: @pinned_articles %>
  </div>
  <%= render 'layouts/footer' %>
</main>
